


.generate-payin-codes{
    width: 100%;
    height: auto;

    .table-container{
        width: 100%;
        max-height: 320px;
        padding-top: 24px; 
        overflow-y: auto;

        td{
            cursor: pointer;
        }
    }

    .distributor-profile{
        background-color: #f1f1f1;
        padding: 16px 24px !important;

        img{
            width: 100px;
            height: 100px;
            margin-bottom: 12px;
        }

        h5{ 
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 20px; 
            display: flex;
            align-items: center;
            letter-spacing: 0.02em; 
            color: #2E2E2E;
            margin-bottom: 0px;
        }

        small{
            /* SHI Desktop Sub Header 5 */
            
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 16px; 
            display: flex;
            align-items: center;
            letter-spacing: 0.02em; 
            color: #999999;
        }

        ul{
            list-style-type: none;
            padding: 0px !important;

            li{
                margin-bottom: 8px; 
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px; 
                display: flex;
                align-items: center;
                letter-spacing: 0.02em; 
                color: #999999;


                b{ 
                    color: #2E2E2E;
                    margin-right: 6px; 
                }
            }
        }
    }

    .btn-download-all{
        min-width: 220px;
        margin-left: auto;
        display: flex;
        height: 46px;
        margin-top: 24px;
        
        p{
            display: flex;
            margin: auto; 
        }
        span{
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 6px;
        }
    }

    .generated-list{
        width: 100%;
        height: auto;
        margin-top: 24px;
        list-style-type: none;
        padding: 0px;
        
        li{
            width: 100%;
            margin-bottom: 8px;
            padding: 12px; 
            position: relative;

            .double-triangle{
                left: 0px;
                position: absolute; 
            }

            .inner-content{
                width: 100%;
                display: flex;
                min-height: 320px;

                .shi-logo{
                    height: 200px;
                    object-fit: contain;
                    object-position: center;
                    margin-right: 16px;
                    margin-top: auto;
                    margin-bottom: auto;
                } 
                
                .shi-qrcode{
                    object-fit: contain;
                    object-position: center;
                    width: 260px;
                }

                .code-content{
                    width: 100%; 
                    margin-top: auto;
                    margin-bottom: auto;
                    padding-left: 16px;
                    padding-right: 24px;
                    text-align: center;


                    h4{ 
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 36px;
                        line-height: 44px; 
                        letter-spacing: 0.02em; 
                        color: #1A936F;
                    }

                    span{ 
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 15px; 
                        text-align: center;
                        letter-spacing: 0.02em; 
                        color: #2E2E2E; 
                    }

                    p{ 
                        font-family: 'Asap';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 150%; 
                        text-align: center;
                        letter-spacing: -0.03em; 
                        color: #2E2E2E;
                        margin-top: 16px;
                    }
                }
            }

            button{
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                display: flex;
                text-align: center;
                border-radius: 0px;

                p{
                    margin: auto;
                    display: flex;

                    span{
                        margin-right: 6px;
                    }
                }
            }
        }
    }
}