


.product-creation-page{
    width: 100%;
    height: auto;
    padding-bottom: 32px;

    .cover-photo{
        width: 100%;
        display: flex;
        margin-bottom: 24px;
        border: 1px solid #1A936F;
        border-radius: 16px;
        position: relative;
        cursor: pointer;

        .img-filter{
            width: 100%;
            height: 0px;
            position: absolute;
            bottom: 0px;
            transition: height 0.55s ease-in-out;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            opacity: 0.68;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.69) 30.7%, rgba(0, 0, 0, 0) 103.4%);
            display: flex;

            button{
                margin: auto; 
                display: none;
                width: 200px;
                border-color: #f1f1f1;
                color: #f1f1f1;
            }
        }

        img{
            width: 100%;
            min-height: 320px;
            max-height: 400px;
            object-fit: cover;
            object-position: center;
            border-radius: 16px;
            background-color: #CCCCCC;
            display: flex;  
             
        }
    }

    .cover-photo:hover{

        .img-filter{
            height: 280px; 

            button{
                display: unset;
            }
        }
    }

    .row-details{
        width: 100%;
        display: flex;
    }

    .container-pictures{
        width: 100%;
        height: 140px;
        border: 1px solid #1A936F;
        margin-top: 12px;
        border-radius: 16px;
        padding: 12px;
        display: flex;
        overflow-x: auto;

        .add-picture{
            border: 1px dashed #1A936F;
            width: 120px;
            height: 100%;
            border-radius: 16px;
            text-align: center; 
            justify-content: center;
            color: #1A936F;
            font-weight: 400;
            cursor: pointer;
            padding-top: 16px;

            span{
                font-size: 48px;
                color: #1A936F;
            }
        }

        .add-picture:hover{
            border: 2px dashed #1A936F;
            font-weight: 500;
        }

        ul{
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            display: flex;

            li{
                width: 120px;
                height: 100%;
                border: 1px solid #1A936F;
                border-radius: 16px;
                margin-left: 12px;
                cursor: pointer;
                padding: 8px;
                display: flex;
                position: relative;


                img{ 
                    width: 104px;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                    border-radius: 18px;
                }
                
                .img-filter{
                    width: 100%;
                    height: 0px;
                    position: absolute;
                    transition: height 0.55s ease-in-out;
                    border-radius: 16px;
                    opacity: 0.68;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.69) 30.7%, rgba(0, 0, 0, 0) 103.4%);
                    display: flex;
                    left: 0px;
                    bottom: 0px;


                    button{
                        margin: auto; 
                        display: none;
                        width: auto;
                        border-color: #f1f1f1;
                        color: #f1f1f1; 

                        span{
                            margin-top: 4px;
                        }
                    }
                }
            }

            li:hover{ 
                .img-filter{
                    height: 100%; 

                    button{
                        display: unset;
                    }
                }
            }



        }
    }

    .rich-text-box{
        margin-top: 24px;

        .ck-editor__main, .ck-content{
            min-height: 440px;
        }
        .ck, .ck-editor__main, .ck-content{
            border-color: #1A936F !important;
        }
    }

    .button-actions{
        width: 100%;
        display: flex;
        margin-top: 24px;

        button{
            width: 200px;
            display: flex;

            span{
                margin-right: auto;
            }
        }

        button:first-child{
            margin-left: auto;
            margin-right: 8px;
        }
    }


    .package-selection{
        width: 100%;
        min-height: 300px; 
        border: 1px solid #1A936F; 
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500; 
        padding: 24px;
        border-radius: 8px;

        h5{
            color: #5e5e5e;
        }

        .product-list-container{
            width: 100%;
            height: auto;
            overflow-x: auto;

            ul.selection-cards{
                list-style-type: none;
                padding: 0px !important;
                margin: 0px !important;
                display: flex;

                li{
                    padding: 6px;

                    .card{
                        width: 12rem;
                        height: 280px;
                        cursor: pointer;
                        position: relative;

                        img{
                            width: 100%;
                            min-height: 100px;
                            max-height: 120px;
                            object-fit: contain;
                            object-position: center;
                        }

                        h5{
                            font-size: 16px;
                            margin: 0px;
                        }

                        p{
                            font-weight: 600;
                            position: absolute;
                            bottom: 28px;
                            left: 16px;
                        }

                        span{
                            position: absolute;
                            bottom: 16px;
                            left: 16px;
                        }
                    }
                }
            }
        }
        
        .row{
            overflow-x: hidden;
            min-height: 240px;
        }

        .product-selected{  
            margin-top: 8px;
            .card{
                width: 100%;
                display: flex !important;
                flex-direction: row;
                padding: 12px;
                margin: 0px !important;

                img{
                    min-width: 60px;
                    max-width: 60px;
                    height: 60px;
                    border-radius: 8px;
                    margin-top: auto;
                    margin-bottom: auto;
                }

                .prod-details{
                    padding-left: 8px;
                    padding-right: 8px;
                    width: calc(100% - 230px) !important;
                    margin-top: auto;
                    margin-bottom: auto;

                    h5{
                        font-size: 14px;
                    }

                    p{
                        font-size: 13px;
                    }

                    h5,p{
                        margin: 0px !important;
                    }
                }


                .btn-close{
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: auto;
                    margin-bottom: auto;
                    width: 50px;
                    height: 36px;
                    display: flex;
                    border-radius: 8px;
                    cursor: pointer;

                    span{
                        margin: auto;
                        height: 24px;
                        width: 24px;
                    }
                }

                .btn-close:hover{
                    background-color: #f1f1f1;
                }
            }
        }
    }
}